/* BASE */
html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;    
}

/* FONTS */
 body {
    font-family: 'open-sans', 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.42857143;     
    -webkit-font-smoothing: antialiased;  
    padding: 75px 0 3rem 0;
 }
 h1, h2, h3 {
    font-weight: 500;
 }

 /* BUTTONS */
 button, .btn {
    height: 30px;
    line-height: 30px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 15px;
    
    background: linear-gradient(to right, #29b3eb 0%, #21edba 100%);
    background-size: calc(100% + 2px);
    background-position: -1px;
    color: #1b1f2a;

    font-family: 'open-sans', 'Helvetica', sans-serif;
    font-weight: bold;

    border: none;
    border-radius: 0;
    text-decoration: none;
    
    cursor: pointer;
    outline: none;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    
    transition: all 0.3s ease-in-out;
    letter-spacing: -1px;
 }
 .btn.s {

 }
 .btn.outline {
    border: 1px solid #d1d1d1;
    background: transparent;
    color: #888;
 }

body.viewer *[data-cacher] {
    display:none !important;
}
body.cacher *[data-viewer] {
    display:none !important;
}

/* HEADER */
#header {
    background: #1b1f2a;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}
    #title {
        color: #fff;
        margin: -1rem 0;
        text-align: center;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }
    #peer_name {
        font-size: .75rem;
    }
    #appTitle {
        margin: 0;
        text-align: center;
        font-size: 1.5rem;
        line-height: 1.6rem;
        
    }
    #logo {
        margin: 0;
        width: 20%;
    }
    #logo a {
        display: block;
        overflow: hidden;
        height: 30px;
        width: 200px;
        text-indent: -9000rem;
        background: url('../img/logo-nav@2x.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left center;
    }
    #controls {
        width: 20%;
    }

#content {
    max-width: 900px;
    margin: 0 auto 0;
}


/* CHART */
#traffic-chart {
    position: relative;
    width: 100%;
}

body.cacher #traffic-chart {
    height: 400px;
}

body.viewer #traffic-chart {
    height: 200px;
}

/* CONTENT */

.content {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #e1e1e1;
    padding: .5rem;
    border-radius: .25rem;
}
.content .left {
    display: flex;
    flex-flow: row;
    align-items: center;
}
.content .thumbnail {
    width: 70px;
    margin-right: .5rem;
}
.content .thumbnail img {
    height: auto;
    width: 100%;
}
.content-info h4 {
    margin: 0;
    color: #444;
}
.content-meta { 
    font-size: .875rem;
    color: #a5a5a5;
}
.content-meta span {
    margin-right: .5rem;
    padding-right: .5rem;
    border-right: 1px solid #e1e1e1;
    position: relative;
}
.content-meta span.caching {
    color: #1eeab1 !important;
    text-transform: uppercase;
    font-weight: 600;
}
.content-meta span:last-child {
    border-right: none;
}


/* PLAYER */
#demo_player {
    background-color: #000;
}

/* CACHER INFO */

#cache-info {
    background-color: #f5f5f5;
    padding: 1rem;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

    #cache-info .info-peers {
        display: flex;
        flex-flow: row;
        align-items: stretch;
    }
    #cache-info .peer-list {
        margin-left: 2rem;
        padding-left: 2rem;
        border-left: 1px solid #e1e1e1;
    }
    #cache-info .peer-list .label {
        font-size: .75rem;
        text-transform: uppercase;
        line-height: .75rem;
        font-weight: 400;
        color: #666;
        margin-bottom: .375rem;
    }
    #cache-info #peers {
        font-size: .75rem;
        color: #444;
    }

/* VIEWER INFO */

#viewer-info {
    background-color: #f5f5f5;
    padding: 1rem;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

/* STAT */

.stat {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.stat .stat-label {
    font-size: .75rem;
    text-transform: uppercase;
    line-height: .75rem;
    font-weight: 400;
    color: #666;
    margin-bottom: .125rem;
}
.stat .stat-value {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 600;
    color: #444;
}


/* SWITCH */

.switch {
    position: relative;
    display: flex;
    flex-flow: row;
    align-items: center;

}
.switch strong {
    font-size: .75rem;
    text-transform: uppercase;
}
/* The switch - the box around the slider */
.switch-back {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  padding: 0;
  margin: 0 .5rem 0;
}

.switch-back input { /* Hide default HTML checkbox */
    display:none;
}

.switch .slider { /* The slider */
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(223, 2, 85); /* left */
  -webkit-transition: .4s;
  transition: .4s;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch input:checked + .slider {
  background-color: rgb(33,237,186);
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px rgb(33,237,186);
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.switch .slider.round {
  border-radius: 34px;
}

.switch .slider.round:before {
  border-radius: 50%;
}


video {
    width: 100%;
}


.center {
    width: 80%;
    margin: auto;
}

.hidden, 
.hide {
    display: none;
}

.right {
    text-align: right;
}

.small {
    font-size: 0.8em;
}

#control-panel {
    background-color: white;
}
.display-overlay{
    position: absolute;
    background: rgba(27,31,42,.88);
    border-radius: 25px;
    opacity: .88;
    display: flex;
    flex-direction: row;
    padding: 9px;
    top: 650px;
    right: 20%;
}
.btn.tx {
    font-size: .875rem;
    font-weight: 600;
	color: #25C4E4;
	background: transparent;
	height: auto;
	padding: 0 10px;
}
.btn.tx.red{
	color: #eb475b;
}
.p2pswitch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 30px;
}

.p2pswitch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    background-color: #eb475b;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 5px;
    bottom: 4px;
    border-radius: 50%;
    background-color: #FFF;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #25C4E4;
}

input:focus + .slider {
   box-shadow: 0 0 1px #25C4E4;
}

input:checked + .slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
}